.infotext::before {
  content: "";
  margin-top: 11px;
  margin-left: -10px;
  position: relative;
  left: -11px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent rgb(229 231 235) transparent transparent;
}

.appointmentTip::before {
  content: "";
  position: absolute;
  margin-top: 17px;
  margin-left: -24px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent rgb(229 231 235) transparent transparent;
}